.projects {
    background-color: lightbluegray;
    background-size: 400% 400%;
    display: flex;
    text-align: center;
    align-items: center; 
    justify-content: center;
    width: 100%;
    height: auto;
    padding: 30px;
}

.projects__title {
    font-size: 16px;
    padding-bottom: 50px;
}

.projects__card {
    width: 66rem;
}    

.card__img {
    width: 50%;
    height: 50%;
}

.projects__card__text {
    text-align: center;
}    
